<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/Layout.css">
</head>
<body style="margin: 0 auto; width: 1000px; outline: auto">

<!--헤더-->
<div>
    <div style="display: flex; flex-direction: column; outline: auto">
        <div style="display: flex; justify-content: space-between">
            <h1>SUPERSTAR I</h1>
            <ul style="display: flex; list-style: none">
                <li style="margin-left: 10px"><a>로그인</a></li>
                <li style="margin-left: 10px"><a>CART</a></li>
                <li style="margin-left: 10px; margin-right: 10px"><a>MYPAGE</a></li>
            </ul>
        </div>
        <div style="display: flex; justify-content: space-between">
            <ul style="display: flex; list-style: none; margin: 0; padding: 0;">
                <li style="margin-left: 10px"
                    th:each="category : ${mainCategory}"
                    th:text="${category.categoryName}"></li>
            </ul>
            <div style="display: flex">
                <div style="margin-left: 10px;">검색</div>
                <div style="margin-left: 10px; margin-right: 10px" onclick="menuBar()">전체메뉴 bar</div>
            </div>
        </div>
    </div>
    <div id="allCategory" class="allCategory">
        <div style="display: flex">
            <div style="display: flex; flex-direction: column;"
                 th:each="category : ${mainCategory}">
                <h3 th:text="${category.categoryName}"></h3>
                <ul style="margin: 0; padding: 0; list-style: none"
                    th:if="${category.subCategories != null} ">
                    <li th:each="subCategory : ${category.subCategories}"
                        th:text="${subCategory.categoryName}"></li>
                </ul>
            </div>
        </div>
        <div>
            <div style="display: flex; flex-direction: column;">
                <h3 th:text="${inqueryCategory.categoryName}"></h3>
                <ul style="margin: 0; padding: 0; list-style: none"
                    th:if="${inqueryCategory.subCategories != null} ">
                    <li th:each="subCategory : ${inqueryCategory.subCategories}"
                        th:text="${subCategory.categoryName}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--콘텐츠-->
<div class="product">
    <h2 class="product-name">New</h2>
    <div class="product-item" th:each="product:${newProducts}">
        <img th:src="@{${product.productImgFileNames}}">
        <span th:text="${product.productName}"></span>
        <span th:if="${product.size}" th:text="${product.size}"></span>

        <span th:text="${product.consumerPrice}"></span>
        <span th:text="${product.sellPrice}"></span>
    </div>
    <div class="product-item" th:each="product:${newProducts}">
        <img style="width: 200px" th:src="@{${product.productImgFileNames}}">
        <span th:text="${product.productName}"></span>
        <span th:if="${product.size}" th:text="${product.size}"></span>

        <span th:text="${product.consumerPrice}"></span>
        <span th:text="${product.sellPrice}"></span>
    </div>
    <div class="product-item" th:each="product:${newProducts}">
        <img style="width: 200px" th:src="@{${product.productImgFileNames}}">
        <span th:text="${product.productName}"></span>
        <span th:if="${product.size}" th:text="${product.size}"></span>

        <span th:text="${product.consumerPrice}"></span>
        <span th:text="${product.sellPrice}"></span>
    </div>
    <div class="product-item" th:each="product:${newProducts}">
        <img style="width: 200px" th:src="@{${product.productImgFileNames}}">
        <span th:text="${product.productName}"></span>
        <span th:if="${product.size}" th:text="${product.size}"></span>

        <span th:text="${product.consumerPrice}"></span>
        <span th:text="${product.sellPrice}"></span>
    </div>
    <div class="product-item" th:each="product:${newProducts}">
        <img style="width: 200px" th:src="@{${product.productImgFileNames}}">
        <span th:text="${product.productName}"></span>
        <span th:if="${product.size}" th:text="${product.size}"></span>

        <span th:text="${product.consumerPrice}"></span>
        <span th:text="${product.sellPrice}"></span>
    </div>
    <div class="product-item" th:each="product:${newProducts}">
        <img style="width: 200px" th:src="@{${product.productImgFileNames}}">
        <span th:text="${product.productName}"></span>
        <span th:if="${product.size}" th:text="${product.size}"></span>

        <span th:text="${product.consumerPrice}"></span>
        <span th:text="${product.sellPrice}"></span>
    </div>
    <div class="product-item" th:each="product:${newProducts}">
        <img style="width: 200px" th:src="@{${product.productImgFileNames}}">
        <span th:text="${product.productName}"></span>
        <span th:if="${product.size}" th:text="${product.size}"></span>

        <span th:text="${product.consumerPrice}"></span>
        <span th:text="${product.sellPrice}"></span>
    </div>
    <div class="product-item" th:each="product:${newProducts}">
        <img style="width: 200px" th:src="@{${product.productImgFileNames}}">
        <span th:text="${product.productName}"></span>
        <span th:if="${product.size}" th:text="${product.size}"></span>
        <span th:text="${product.consumerPrice}원"></span>
        <span th:text="${product.sellPrice}원"></span>
    </div>
</div>


<!--푸터-->

</body>

<script>
    const menuBar = () =>{
        const allCategory = document.getElementById('allCategory');

        if (allCategory.classList.contains('on')) {
            allCategory.classList.remove('on');
        } else {
            allCategory.classList.add('on');
        }

    }
</script>
</html>