<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div id="cart">
        <h2>장바구니</h2>
        <table >
            <thead>
            <tr>
                <th class="cartCheckbox" ><input type="checkbox" oninput="allCheck(this)"/></th>
                <th class="cartProductImg">사진</th>
                <th class="cartProductName" style="width: 300px">제품명</th>
                <th class="cartProductPrice" style="width: 100px">가격</th>
                <th class="cartProductQuantity">수량</th>
                <th class="cartTotalPrice" style="width: 100px">합계</th>
                <th class="cartPoint" style="width: 50px">적립금</th>
                <th class="cartDelivery" style="width: 100px">배송비</th>
                <th class="cartSelect">선택</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cart:${cartList.cartResponseDTOS}">
                <td class="cartCheckbox"><input type="checkbox" th:value="${cart.cartId}" oninput="sumTotalPriceUpdate()"/></td>
                <td class="cartProductImg">
                    <a th:href="@{'/product/detail/'+${cart.productId}}">
                        <img  th:src="@{${cart.productImg}}"/>
                    </a>
                </td>
                <td class="cartProductName">
                    <div>
                        <span th:text="${cart.productName}">제품이름</span>
                        <p class="option" th:text="${cart.selectOption}">옵션</p>
                        <button onclick="cartOptionModify(this)">옵션변경</button>
                    </div>
                </td>
                <td class="cartProductPrice" >
                    <div >
                        <p class="consumerPrice" th:text="${cart.consumerPrice}">소비자가</p>
                        <span class="price" th:text="${cart.price}">판매가</span>
                    </div>
                </td>
                <td class="cartProductQuantity">
                    <div>
                        <div >
                            <button onclick="cartDecreaseValue(this)"><i class="fa-solid fa-minus"></i></button>
                            <input  type="number" oninput="cartInputValueChange(this)" th:value="${cart.quantity}"/>
                            <button onclick="cartIncreaseValue(this)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </td>
                <td class="cartTotalPrice"   >
                    <span class="totalPrice" th:text="${cart.totalPrice}">합계</span>
                </td>
                <td class="cartPoint" >
                    <span class="point" th:text="${cart.point}">적립금</span>
                </td>
                <td class="cartDelivery" >
                    <span >
                        [기본배송]
                        <br/>
                        조건
                    </span>
                </td>
                <td class="cartSelect">
                    <div >
                        <input type="hidden" th:value="${cart.productVariantId}">
                        <button th:if="${cart.wishItem}" disabled >이미등록된상품</button>
                        <button th:unless="${cart.wishItem}" onclick="addCartItemToWishlist(this)">관심상품 등록</button>
                        <button onclick="cartItemDelete(this)">삭제하기</button>
                    </div >
                </td>
            </tr>
            </tbody>
        </table>
        <div id="sumTotalPrice" ><h2 th:utext="${cartList.sumTotalString}"></h2></div>
        <div id="cartSelectDelete">
            <div>
                <button onclick="selectCartDelete()">선택 상품 삭제</button>
                <button onclick="cartAllDelete()">장바구니 비우기</button>
            </div>
            <div>
                결제 합계금액 50,000원 이상은 무료배송되며, 미만일 경우 3,000원의 배송비가 추가됩니다
            </div>
        </div>
        <div>
            <button onclick="historyBack()" >계속 쇼핑하기</button>
            <button onclick="selectOrder()">선택 상품 주문</button>
            <button onclick="AllOrder()">전체 주문 하기</button>
        </div>

    </div>
</div>
</body>
</html>