<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <th:block th:fragment="mypage">
        <div id="myPageMember">
            <div>
                <span th:text="${member.nickname}"></span>
                <span>(<span th:text="${member.username}"></span>)</span>
            </div>
            <div>
                <span>적립금</span>
                <span th:text="${member.currentPoint}"></span>
            </div>
            <div>
                <span>작성 가능 리뷰</span>
                <span th:text="${member.writeReviewCount}"></span>
            </div>
        </div>
        <div id="myPageOrders">
            <h3>최근 주문 정보</h3>
            <div>
                <div class="myPageOrderDate">주문일자</div>
                <div class="myPageOrderProductName">상품명</div>
                <div class="myPageOrderTotalPrice">결제금액</div>
            </div>
            <th:block th:if="${!#lists.isEmpty(orders)}">
                <div th:each="order : ${orders}" onclick="getOrderDetail(this)">
                    <input type="hidden" th:value="${order.orderId}">
                    <div class="myPageOrderDate"><span th:text="${order.orderDateTime}"></span></div>
                    <div class="myPageOrderProductName">
                        <span th:each="productName: ${order.productNames}" th:text="${productName}"></span>
                    </div>
                    <div class="myPageOrderTotalPrice"><span th:text="${order.totalPrice}"></span></div>
                </div>
            </th:block>

            <th:block th:unless="${!#lists.isEmpty(orders)}">
                <div>
                    <span>구매 내역이 없습니다.</span>
                </div>
            </th:block>
        </div>
    </th:block>

    <th:block th:fragment="point">
        <div class="myPageMember2">
            <h3 th:text="'['+${member.nickname}+']'"></h3><span>의 적립금내역</span>
        </div>
        <div id="pointList">
            <div >
                <div class="pointListDate">날짜</div>
                <div class="pointListSave">적립내역</div>
                <div class="pointListStatus">상태</div>
            </div>
            <th:block th:if="${!#lists.isEmpty(pointList)}">
                <div  th:each="point : ${pointList}">
                    <div class="pointListDate"><span th:text="${point.createdAt}"></span></div>
                    <div class="pointListSave"><span th:text="${point.point}"></span></div>
                    <div class="pointListStatus"><span th:text="${point.status}"></span></div>
                </div>
            </th:block>

            <th:block th:unless="${!#lists.isEmpty(pointList)}">
                <div>
                    <span>적립내역이 없습니다.</span>
                </div>
            </th:block>
        </div>
    </th:block>

    <th:block th:fragment="wishProduct">
        <div class="myPageMember2">
            <h3 th:text="'['+${member.nickname}+']'"></h3><span>의 관심상품 내역</span>
        </div>
        <div id="wishProductList">
            <div>
                <div class="wishProductListCheckBox">
                    <input type="checkbox" oninput="wishProductAllCheck(this)">
                </div>
                <div class="wishProductListImg">사진</div>
                <div class="wishProductListName">상품명</div>
                <div class="wishProductListQuantity">수량</div>
                <div class="wishProductListStock">재고</div>
                <div class="wishProductListPoint">적립금</div>
                <div class="wishProductListPrice">가격</div>
                <div class="wishProductListCart">장바구니</div>
            </div>
            <th:block th:if="${!#lists.isEmpty(wishList)}">
                <div class="item" th:each="wish : ${wishList}">
                    <div class="wishProductListCheckBox">
                        <input type="checkbox" th:value="${wish.wishProductId}">
                        <input type="hidden" th:value="${wish.productVariantId}">
                    </div>
                    <div class="wishProductListImg">
                        <a th:href="@{'/product/detail/' + ${wish.productId}}">
                            <img th:src="${wish.productImg}"/>
                        </a>
                    </div>
                    <div class="wishProductListName" >
                        <span th:text="${wish.productName}"></span>
                        <span class="option" th:text="${wish.option}"></span>
                    </div>
                    <div class="wishProductListQuantity">
                        <input type="number" min="1" value="1"  />
                    </div>
                    <div class="wishProductListStock">
                        <span th:text="${wish.stock}"></span>
                    </div>
                    <div class="wishProductListPoint">
                        <span th:text="${wish.point}"></span>
                    </div>
                    <div class="wishProductListPrice">
                        <span th:text="${wish.combinePrice}"></span>
                    </div>
                    <div class="wishProductListCart">
                        <button type="button" onclick="wishProductCartSave(this)">장바구니</button>
                        <button type="button" onclick="deleteWishProduct(this)" >삭제</button>
                    </div>
                </div>
                <div>
                    <button type="button" onclick="wiShProductSelectDelete(this)">선택상품 삭제</button>
                    <button type="button" onclick="wiShProductSelectDelete(this,false)">전체상품 삭제</button>
                    <button type="button" onclick="wishProductSelectCartSave()">선택상품 장바구니</button>
                </div>
            </th:block>

            <th:block th:unless="${!#lists.isEmpty(wishList)}">
                <div>
                    <span>등록된 상품이 없습니다.</span>
                </div>
            </th:block>

        </div>
    </th:block>

    <th:block th:fragment="postList">
        <div class="myPageMember2">
            <h3 th:text="'['+${member.nickname}+']'"></h3><span>의 작성된 글 목록 </span>
        </div>

        <div id="postList">
            <div >
                <div class="postListIndex">#</div>
                <div class="postListType">게시글 종류</div>
                <div class="postListContent">내용</div>
                <div class="postListModify">수정</div>
                <div class="postListCreatedAt">작성일</div>
            </div>
            <th:block th:if="${!#lists.isEmpty(postList)}">
                <div  th:each="post : ${postList}">
                    <input type="hidden" th:value="${post.id}">
                    <div class="postListIndex"><span th:text="${post.index}">게시글 번호</span></div>
                    <div class="postListType"><span id="type" th:text="${post.type}">게시글 종류</span></div>
                    <div class="postListContent"><span id="content" th:text="${post.content}">내용</span></div>
                    <div class="postListModify"><button onclick="postModifyModal(this)">수정</button></div>
                    <div class="postListCreatedAt"><span th:text="${post.createdAt}">작성일</span></div>
                </div>
            </th:block>

            <th:block th:unless="${!#lists.isEmpty(postList)}">
                <div>
                    <span>등록된 게시글이 없습니다.</span>
                </div>
            </th:block>
        </div>
    </th:block>

    <th:block th:fragment="orderList">

        <div class="myPageMember2">
            <h3 th:text="'['+${member.nickname}+']'"></h3><span>의 주문한 내역 </span>
        </div>

        <div id="orderList">
            <div>
                <div class="orderListIndex">#</div>
                <div class="orderListOrderDate">주문일자</div>
                <div class="orderListProductName">상품명</div>
                <div class="orderListTotalPrice">결제금액</div>
                <div class="orderListStatus">상품상태</div>
            </div>
            <th:block th:if="${!#lists.isEmpty(orders)}">
                <div th:each="order : ${orders}" onclick="getOrderDetail(this)">
                    <input type="hidden" th:value="${order.orderId}">
                    <div class="orderListIndex" ><span th:text="${order.index}"></span></div>
                    <div class="orderListOrderDate" ><span th:text="${order.orderDateTime}"></span></div>
                    <div class="orderListProductName">
                        <div th:each="productName: ${order.productNames}"><span th:text="${productName}"></span></div>
                    </div>
                    <div class="orderListTotalPrice"><span th:text="${order.totalPrice}"></span></div>
                    <div class="orderListStatus" th:if="${order.adminCheck}"><span th:text="${order.orderStatus}"></span></div>
                    <div class="orderListStatus" th:unless="${order.adminCheck}" >관리자 확인필요</div>
                </div>
            </th:block>

            <th:block th:unless="${!#lists.isEmpty(orders)}">
                <div>
                    <span>구매 내역이 없습니다.</span>
                </div>
            </th:block>
        </div>

    </th:block>

</body>
</html>