<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${cartItemList}"></div>
    <br/>
    <div th:text="${orderMember}"></div>

    <div>
        <div>
            <div>
                주문/결제
            </div>
            <table>
                <thead>
                <tr>
                    <th>상품명</th>
                    <th>수량</th>
                    <th>판매가</th>
                    <th>적립</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cart : ${cartItemList.orderWriteResponseDTOS}">
                    <td>
                        <input type="hidden" th:value="${cart.cartId}">
                        <div>
                            <div>
                                <img style="width: 100px" th:src="${cart.productImg}"/>
                            </div>
                            <div>
                                <a th:href="@{/product/detail/${cart.productId}}">
                                    <span th:text="${cart.productName}">상품명</span>
                                </a>
                                <span th:text="${cart.selectOption}">option</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span th:text="${cart.quantity}">수량</span>
                    </td>
                    <td>
                        <span th:text="${cart.combineAndQuantityPrice}">판매가</span>
                    </td>
                    <td>
                        <span th:text="${cart.point}">적립</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <span>총 상품금액</span>
                <sapn th:text="${cartItemList.totalPrice}">상품 총금액</sapn>
                <span>총 적립금</span>
                <sapn th:text="${cartItemList.totalPoint}">총 적립금</sapn>
            </div>
        </div>

        <div>
            <div id="orderMember">주문자 정보</div>
            <div>
                <div>이름</div>
                <div><span id="orderMemberName" th:text="${orderMember.nickname}">이름</span></div>
            </div>
            <div>
                <div>이메일</div>
                <div><input type="text" th:value="${orderMember.email}"/></div>
            </div>
            <div>
                <div>연락처</div>
                <div>
                    <th:block th:each="phoneNumber, index : ${orderMember.phoneNumber} ">
                        <input class="orderMemberPhoneNumber" type="text" size="4" maxlength="4" th:value="${phoneNumber}"/>
                        <span th:if="${index.index != index.size -1}">-</span>
                    </th:block>
                </div>
            </div>
        </div>

        <div>
            <div>
                <div>배송정보</div>
                <div><input type="checkbox" oninput="orderMemberInput(this)"/>위정보와 같음</div>
            </div>
            <div>
                <div>이름</div>
                <div><input id="deliveryMemberName" type="text" /></div>
            </div>
            <div>
                <div>
                    <div>연락처1</div>
                    <div>
                        <input class="deliveryMemberPhoneNumber1" type="text" size="4" maxlength="4"/>
                        <span>-</span>
                        <input class="deliveryMemberPhoneNumber1" type="text" size="4" maxlength="4"/>
                        <span>-</span>
                        <input class="deliveryMemberPhoneNumber1" type="text" size="4" maxlength="4"/>
                    </div>
                </div>
                <div>
                    <div>연락처2</div>
                    <div>
                        <input class="deliveryMemberPhoneNumber2" type="text" size="4" maxlength="4"/>
                        <span>-</span>
                        <input class="deliveryMemberPhoneNumber2"  type="text" size="4" maxlength="4"/>
                        <span>-</span>
                        <input class="deliveryMemberPhoneNumber2"  type="text" size="4" maxlength="4"/>
                    </div>
                </div>
            </div>
            <div>
                <div>배송지선택</div>
                <div>
                    <button onclick="popupAddressList()">배송지 목록</button>
                    <label for="recentlyAddress">최근 배송지</label>
                    <input type="radio" id="recentlyAddress" name="addressType" oninput="getAddressFetch(this.value)" value="RECENTLY_ADDRESS"/>
                    <label for="myHome">자택</label>
                    <input type="radio" id="myHome" name="addressType" oninput="getAddressFetch(this.value)" value="HOME_ADDRESS"/>
                    <label for="newAddress">신규배송지</label>
                    <input type="radio" id="newAddress" name="addressType" oninput="newAddress()" value="NEW_ADDRESS"/>
                </div>
            </div>
            <div>
                <div>주소</div>
                <div>
                    <div>
                        <input id="zoneCode" type="text" disabled/>
                        <button onclick="popupNewAddress()">주소검색</button>
                    </div>
                    <div>
                        <input id="addressName" type="text" />
                        <input id="addressNameDetail" type="text"/>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <span>주문메세지</span>
                    <span>(100자내외)</span>
                </div>
                <div>
                    <textarea></textarea>
                </div>
            </div>
            <div>
                <div>무통장 입금자명</div>
                <div>
                    <input id="bankTransferName" type="text">
                    <span>(주문자와 같을경우 생략가능)</span>
                </div>
            </div>
        </div>

        <div>
            <div>추가정보</div>
            <div>
                <div>품절시 환불수단</div>
                <div>
                    <label for="refun1">적립금 환불</label>
                    <input type="radio" id="refun1" name="refun" value="적립금 환불"/>
                    <label for="refun2">최초 결제수단 환불 및 무통장 환불</label>
                    <input type="radio" id="refun2" name="refun" value="최초 결제수단 환불 및 무통장 환불"/>
                </div>
            </div>
        </div>
        <div>
            <div>무통장 환불 예금주</div>
            <div><input id="refundMemberName" type="text"/></div>
        </div>
        <div>
            <div>무통장 환불 은행명</div>
            <div><input id="refundBankName" type="text"/></div>
        </div>
        <div>
            <div>무통장 환불 계좌</div>
            <div><input id="refundBankAccount" type="text"/><span>(계좌번호 미기재 또는 오류시 기재한 계좌로 환불처리)</span></div>
        </div>
    </div>

    <div>
        <div>주문상품 총금액</div>
        <div>
            <div>
                <div>상품금액</div>
                <div>배송비</div>
                <div>결제예정금액</div>
            </div>
            <div th:utext="${cartItemList.totalPriceString}">
                <div>총상품금액</div>
                <div>배송비</div>
                <div>총상품금액 + 배송비</div>
            </div>
        </div>
    </div>

    <div>
        <div>결제정보</div>
        <div>
            <div>결제방법</div>
            <div>
                <input type="radio" id="payment1" name="payment" value="카카오페이">
                <label for="payment1" >카카오페이</label>
            </div>
        </div>
        <div>
            <div>
                <input type="checkbox" id="paymentCheck"/>
                <label for="paymentCheck">상기 결제정보를 확인하였으며, 구매진행에 동의합니다.</label>
            </div>
            <div>
                <div>최종결제금액</div>
                <div>
                    <div>
                        <span th:text="${cartItemList.lastTotalPrice}">최종금액</span>
                    </div>
                    <div>
                        (적립금액의 경우, 주문 완료시 지급되는 적립금을 확인해주시기 바랍니다.)
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button onclick="postOrderFetch()">주문하기</button>
            <button>취소하기</button>
        </div>
    </div>


</div>

</body>
</html>