<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div id="productDetailWrapper">
        <div>
            <img th:src="@{${product.productImgFileNames[0]}}"/>
        </div>
        <div class="sliderContainer">
            <div class="sliderWrapper">
                <div class="sliderItem" th:each="img : ${product.productImgFileNames}">
                    <img th:src="@{${img}}"/>
                </div>
            </div>
            <button class="prev" onclick="slide(-1)"> <</button>
            <button class="next" onclick="slide(1)"> ></button>
        </div>
        <div id="productInfo">
            <div th:text="${product.productName}">상품이름</div>
            <div>
                <label>사이즈</label>
                <span th:text="${product.size}">사이즈</span>
            </div>
            <div>
                <label>소비자가</label>
                <span class="consumerPrice" th:text="${product.consumerPrice}"></span>
            </div>
            <div>
                <label>판매가</label>
                <span th:text="${product.sellPrice}">판매가</span>
            </div>
            <div>
                <label>적립금</label>
                <span th:text="${product.point}">적립금</span>
            </div>
            <div>
                <label>색상</label>
                <select id="colorSelect" onchange="updateSizePrice()">
                    <option>옵션선택</option>
                    <option th:each="color : ${product.colorSizePrice}"
                            th:text="${color.key}"
                            th:value="${color.key}"></option>
                </select>
            </div>
            <div>
                <label>사이즈</label>
                <select id="sizeSelect" onchange="productAdd()">
                    <option>옵션선택</option>
                </select>
            </div>
            <div>
                <ul id="productAddList">

                </ul>
            </div>
            <div id="totalPrice">상품 총금액 : 0원</div>

            <div>
                <button onclick="cartPost()">장바구니</button>
                <button onclick="orderPage()">구매하기</button>
            </div>
        </div>

        <div id="tab1">
            <ul>
                <li><a class="tab on" href="#tab1">상세페이지</a></li>
                <li><a class="tab" href="#tab2">상품리뷰</a></li>
                <li><a class="tab" href="#tab3">상품문의</a></li>
            </ul>
            <div>
                <img th:each="img : ${product.productDescriptionImgFileNames}"
                     th:src="@{${img}}">
            </div>
        </div>

        <div id="tab2">
            <ul>
                <li><a class="tab" href="#tab1">상세페이지</a></li>
                <li><a class="tab on" href="#tab2">상품리뷰</a></li>
                <li><a class="tab" href="#tab3">상품문의</a></li>
            </ul>
            <div>
                <div class="productReviewIndex">#</div>
                <div class="productReviewContent">내용</div>
                <div class="productReviewNickname">작성자</div>
                <div class="productReviewCreatedAt">작성일</div>
            </div>
            <th:block th:if="${productReviews.size() > 0}">
                <div th:each="productReview : ${productReviews}">
                    <div class="productReviewIndex"><span th:text="${productReview.index}"></span></div>
                    <div class="productReviewContent"><span th:text="${productReview.content}"></span></div>
                    <div class="productReviewNickname"><span th:text="${productReview.nickname}"></span></div>
                    <div class="productReviewCreatedAt"><span th:text="${productReview.createdAt}"></span></div>
                </div>
            </th:block>
            <th:block th:unless="${productReviews.size() > 0}">
                <div>
                    <div><span>작성된 리뷰가 없습니다.</span></div>
                </div>
            </th:block>

        </div>

        <div id="tab3">
            <ul>
                <li><a class="tab" href="#tab1">상세페이지</a></li>
                <li><a class="tab" href="#tab2">상품리뷰</a></li>
                <li><a class="tab on" href="#tab3">상품문의</a></li>
            </ul>
            <div>
                <div class="inquiryIndex">#</div>
                <div class="inquiryTitle">제목</div>
                <div class="inquiryNickname">작성자</div>
                <div class="inquiryCreatedAt">작성일</div>
            </div>
            <th:block th:if="${productInquiries.size() > 0}">
                <div th:each="productInquiry : ${productInquiries}">
                    <div class="inquiryIndex" ><span th:text="${productInquiry.index}"></span></div>
                    <div class="inquiryTitle"><span th:text="${productInquiry.title}"></span></div>
                    <div class="inquiryNickname"><span th:text="${productInquiry.name}"></span></div>
                    <div class="inquiryCreatedAt"><span th:text="${productInquiry.createdAt}"></span></div>
                </div>
            </th:block>
            <th:block th:unless="${productInquiries.size() > 0}">
                <div>
                    <div><span>작성된 문의사항이 없습니다.</span></div>
                </div>
            </th:block>

        </div>
    </div>

</div>
</body>
</html>