body {
    width: 500px;
}

body > div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

body > div > div  {
    display: flex;
    margin-bottom: 10px;
}

body > div > div:first-child  {
    border: 1px solid lightgray;
    border-radius: 10px;
}

body > div > div:nth-child(2),
body > div > div:nth-child(3) {
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

body > div > div >label  {
    width: 100px;
}
body > div > div >select  {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid lightgray;
    text-align: center;
}

body > div > div > a > img{
    width: 100px;
    border-radius: 10px;
}

body > div > div >div  {
    display: flex;
    flex-direction: column;
}

body > div > div > div > span  {
    padding-left: 10px;
    padding-bottom: 10px;
}

body > div > ul  {
    list-style: none;
    padding:0;
}
body > div > ul  {
    list-style: none;
    background-color: #edf0f5;
    padding: 10px;
    border-radius: 10px;
}
body > div > ul >li {
    margin-bottom: 10px;
}
body > div > ul >li >div:first-child {
    margin-bottom: 5px;
}
body > div > ul >li >div:first-child >button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: x-large;
}

body > div > ul >li >div:last-child{
    display: flex;
    justify-content: space-between;
}

body > div > ul >li >div:last-child > div{
    display: flex;
    align-items: center;
}

body > div > ul >li >div:last-child > div >button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: x-large;
}
body > div > ul >li >div:last-child > div > input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid lightgray;
    text-align: center;
}


body > div > div:nth-child(5) {
    justify-content: flex-end;
}

body > div > div:nth-child(6) {
    justify-content: center;
}

body > div > div:nth-child(6) >button {
    padding:10px;
    border-radius: 10px;

}
body > div > div:nth-child(6) >button:first-child {
    background-color: #414b5a;
    border: none;
    color: white;
}

body > div > div:nth-child(6) >button:last-child {
    margin-left: 10px;
    background: none;
    border: 1px solid lightgray;
    color: black;
}
