<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/Layout.css">
    <link rel="stylesheet" href="/style/orderDetail.css">
</head>
<body style="margin: 0 auto; width: 1000px; outline: auto">

<!--헤더-->
<div>
    <div style="display: flex; flex-direction: column; outline: auto">
        <div style="display: flex; justify-content: space-between">
            <h1><a th:href="@{'/'}">SUPERSTAR I</a></h1>
            <ul style="display: flex; list-style: none">
                <li style="margin-left: 10px" sec:authorize="isAnonymous()"><a href="/loginForm">로그인</a></li>
                <li style="margin-left: 10px" sec:authorize="isAuthenticated()"><a href="/loginForm">로그아웃</a></li>
                <li style="margin-left: 10px" sec:authorize="isAuthenticated()"><a href="/user/cart">CART</a></li>
                <li style="margin-left: 10px; margin-right: 10px" sec:authorize="isAuthenticated()"><a
                        href="/user/mypage">MYPAGE</a></li>
            </ul>
        </div>
        <div style="display: flex; justify-content: space-between">
            <ul style="display: flex; list-style: none; margin: 0; padding: 0;">
                <li style="margin-left: 10px"
                    th:each="category : ${mainCategory}"
                ><a th:text="${category.categoryName}"
                    th:href="@{'/product/category?code=' + ${category.id}}"></a></li>
            </ul>
            <div style="display: flex">
                <div style="margin-left: 10px;">검색</div>
                <div style="margin-left: 10px; margin-right: 10px" onclick="menuBar()">전체메뉴 bar</div>
            </div>
        </div>
    </div>
    <div id="allCategory" class="allCategory">
        <div style="display: flex">
            <div style="display: flex; flex-direction: column;"
                 th:each="category : ${mainCategory}">
                <h3><a th:text="${category.categoryName}"
                       th:href="@{'/product/category?code=' + ${category.id}}"></a></h3>
                <ul style="margin: 0; padding: 0; list-style: none"
                    th:if="${category.subCategories != null} ">
                    <li th:each="subCategory : ${category.subCategories}">
                        <a th:text="${subCategory.categoryName}"
                           th:href="@{'/product/category?code=' + ${subCategory.id} + '&decode=' + ${subCategory.depNo}} "></a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div style="display: flex; flex-direction: column;">
                <h3 th:text="${inqueryCategory.categoryName}"></h3>
                <ul style="margin: 0; padding: 0; list-style: none"
                    th:if="${inqueryCategory.subCategories != null} ">
                    <li th:each="subCategory : ${inqueryCategory.subCategories}"
                        th:text="${subCategory.categoryName}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--콘텐츠-->
<div layout:fragment="content">

</div>


<!--푸터-->

</body>

<script th:inline="javascript">
    const product = [[${product}]];
</script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>

    let popupWindow;

    const menuBar = () => {
        const allCategory = document.getElementById('allCategory');

        if (allCategory.classList.contains('on')) {
            allCategory.classList.remove('on');
        } else {
            allCategory.classList.add('on');
        }

    }
    // 상품 디테일 페이지.
    const updateSizePrice = () => {
        const colorSizePrice = product?.colorSizePrice;

        const color = document.getElementById('colorSelect').value;
        const sizeSelect = document.getElementById('sizeSelect');

        sizeSelect.innerHTML = '';

        if (color && colorSizePrice[color]) {
            const sizes = colorSizePrice[color];
            const defaultOption = document.createElement('option');
            defaultOption.text = "옵션 선택";
            defaultOption.value = "";
            sizeSelect.add(defaultOption);

            Object.entries(sizes).forEach(([size, price]) => {
                const option = document.createElement('option');
                option.text = size;
                option.value = color + ',' + size + ',' + price;
                sizeSelect.add(option);
            })

        }
    }

    const productAdd = () => {

        const value = document.getElementById('sizeSelect').value;

        const color = value.split(',')[0]
        const size = value.split(',')[1]
        const price = value.split(',')[2]

        if (!document.getElementById(`${color}-${size}`) && value) {
            const list = document.getElementById('productAddList');
            const item = document.createElement('li');

            const index = list.querySelectorAll('li').length;
            console.log()

            const sellPrice = product.sellPrice + parseInt(price);

            item.setAttribute('id', `${color}-${size}`)

            item.innerHTML = `
                <div>
                    <span >${color}, ${size}</span> <button onclick="deleteItem(this)">x</button>
                </div>
                <div>
                    <input type="hidden" name="productId[${index}]" value="${product.id}" />
                    <input type="hidden" name="colorSize[${index}]" value="${color}-${size}" />
                    <input type="number" name="quantity[${index}]" value="1" oninput="changeValue(this,${sellPrice})"/>
                    <button onclick="increaseValue(this,${sellPrice})">+</button>
                    <button onclick="decreaseValue(this,${sellPrice})">-</button>
                    <span class="price">${sellPrice}원</span>
                </div>
                `
            list.appendChild(item)
        }
        updateTotalPrice()
    }

    const deleteItem = (button) => {
        const deleteItem = button.closest('li');
        if (deleteItem) {
            deleteItem.remove()
        }
        updateTotalPrice()
    }

    const increaseValue = (button, sellPrice) => {
        const inputItem = button.parentNode.querySelector('input[type="number"]');
        const spanItem = button.parentNode.querySelector('span');

        inputItem.value < 0 && (inputItem.value = 1)

        inputItem
        && (inputItem.value = parseInt(inputItem.value) + 1)
        && (spanItem.textContent = (parseInt(sellPrice) * inputItem.value).toLocaleString() + '원');

        updateTotalPrice()

    }

    const decreaseValue = (button, sellPrice) => {
        const inputItem = button.parentNode.querySelector('input[type="number"]');
        const spanItem = button.parentNode.querySelector('span');

        inputItem.value <= 0 && (inputItem.value = 1)

        inputItem
        && inputItem.value > 1
        && (inputItem.value = parseInt(inputItem.value) - 1)
        && (spanItem.textContent = (parseInt(sellPrice) * inputItem.value).toLocaleString() + '원') ||
        inputItem
        && inputItem.value === 1
        && (spanItem.textContent = (parseInt(sellPrice) * inputItem.value).toLocaleString() + '원');

        updateTotalPrice()
    }

    const changeValue = (input, sellPrice) => {

        const inputItem = input.parentNode.querySelector('input[type="number"]');
        inputItem.value <= 0 && (inputItem.value = 1);

        const spanItem = input.parentNode.querySelector('span');

        inputItem
        && (spanItem.textContent = (parseInt(sellPrice) * inputItem.value).toLocaleString() + '원');
        updateTotalPrice()
    }

    const updateTotalPrice = () => {
        const result = document.getElementsByClassName('price');

        const priceList = Array.from(result).map(span => span.textContent.replace("원", ""))

        const totalPrice = priceList.reduce((total, currentValue) => {
            return parseInt(total) + parseInt(currentValue.replace(/,/g, ""));
        }, 0)

        const totalItem = document.getElementById('totalPrice')

        totalItem.textContent = '총 상품 금액 : ' + totalPrice.toLocaleString() + '원';

    }

    let slideCurrentIndex = 0;
    const slide = (direction) => {

        const wrapper = document.querySelector('.sliderWrapper');
        const items = document.querySelectorAll('.sliderItem');
        const totalItems = items.length;
        const maxVisibleItems = 3;

        if (totalItems > maxVisibleItems) {

            slideCurrentIndex += direction;

            if (slideCurrentIndex < 0) {
                slideCurrentIndex = 0;
            } else if (slideCurrentIndex > totalItems - maxVisibleItems) {
                slideCurrentIndex = totalItems - maxVisibleItems;
            }

        }

        const translateXValue = -(slideCurrentIndex * (items[0].offsetWidth + 10));
        wrapper.style.transform = `translateX(${translateXValue}px)`;

    }

    const cartPost = async () => {

        const cartItems = [];

        document.querySelectorAll('#productAddList li').forEach((item, index) => {

            const productId = item.querySelector(`input[name = "productId[${index}]"]`).value;
            const colorSize = item.querySelector(`input[name="colorSize[${index}]"]`).value;
            const quantity = item.querySelector(`input[name="quantity[${index}]"]`).value;

            cartItems.push({
                productId: productId,
                colorSize: colorSize,
                quantity: quantity
            });
        });

        const response = await fetch('/user/cart/save', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({cartRequestDTOS: cartItems})
        })

        if (response.status === 200) {
            const modal = document.createElement('div');
            modal.setAttribute('id', 'modal')
            modal.onclick = () => modalClose(event);

            modal.style.display = "block";

            modal.innerHTML = `
            <div class="modalContent">
                <span> 상품이 장바구니에 담겼습니다.</span>
                <div>
                    <button onclick="buttonModalClose()"> 쇼핑 계속하기</button>
                    <a href="/user/cart"> 장바구니 확인</a>
                </div>
            </div>
`
            const productDetailWrapper = document.getElementById('productDetailWrapper');
            productDetailWrapper.insertAdjacentElement('afterend', modal)
        }

    }

    const modalClose = (event) => {

        const modal = document.getElementById('modal');
        const modalContent = document.getElementById('modal-content');

        if (event.target === modalContent) {
            event.stopPropagation();
            return;
        }

        if (event.target === modal) {
            modal.remove();
        }

    }

    const buttonModalClose = () => {
        const modal = document.getElementById('modal');
        modal.remove();
    }

    //     카트 페이지
    const allCheck = (input) => {
        const checkbox = input.parentNode.querySelector('input[type="checkbox"]')

        if (checkbox.checked === true) {
            const checkboxes = document.querySelectorAll('tbody input[type="checkbox"]');
            checkboxes.forEach((checkbox) => {
                checkbox.checked = true;
            })

        } else {
            const checkboxes = document.querySelectorAll('tbody input[type="checkbox"]');
            checkboxes.forEach((checkbox) => {
                checkbox.checked = false;
            })
        }

        sumTotalPriceUpdate();
    }

    const cartOptionModify = async (button) => {
        const tr = button.closest('tr');

        const checkbox = tr.querySelector('input[type="checkbox"]');

        const requestData = {
            cartId: checkbox.value
        }

        const queryString = new URLSearchParams(requestData).toString();

        const response = await fetch(`/user/cart/optionmodify?${queryString}`, {
            method: "GET",
        })

        const data = await response.json();

        popupWindow = window.open('', '_blank', 'width=600,height=500');

        const checkPopupClosed = setInterval(() => {
            if (popupWindow.closed) {
                clearInterval(checkPopupClosed);
                window.location.href = '/user/cart'
            }
        }, 1000);

        const {
            colorSizePrice, combinedProductPrice, option, productId, cartId, totalPrice,
            productImg, productName, productSellPrice, productVariantId, quantity
        } = data;

        const div = document.createElement('div');

        let html =
            `
            <div>
                <div>
                    <a href="/product/detail/${productId}">
                        <img src="${productImg}"/>
                    </a>
                </div>
                <div>
                    <span>${productName}</span>
                    <span>${productSellPrice}</span>
                </div>
            </div>
            <div>
             <select onchange="popupUpdateSizePrice(this)">
                    <option value="">옵션선택</option>
            `

        const colorList = Object.keys(colorSizePrice)

        colorList.forEach(color => {
            const sizePrice = colorSizePrice[color]
            let result = '';
            const sizeKeys = Object.keys(sizePrice)

            Object.entries(sizePrice).forEach((size, index) => {
                result += `${color},${size}`

                if (index !== sizeKeys.length - 1) {
                    result += '-'
                }
            })

            html += `
                    <option value="${result}">${color}</option>
             `
        })


        html +=
            `
                </select>
                <select id="popupSizePrice" onchange="popupProductAdd()">
                    <option value="">옵션선택</option>
                </select>
            </div>
            <div >
                <ul id="popupProductAddList">
                    <li id="${option.split(',')[0].trim()}-${option.split(',')[1].trim()}"">
                        <input type="hidden" name="cartId" value="${cartId}">
                        <span>${option}</span>
                        <div>
                            <input type="hidden" name="productId[0]" value="${productId}">
                            <input type="hidden" name="colorSize[0]" value="${option.split(',')[0].trim()}-${option.split(',')[1].trim()}"/>
                            <button onclick="decreaseValue(this,${combinedProductPrice}})">-</button>
                            <input min="1" type="number" name="quantity[0]" oninput="changeValue(this,${combinedProductPrice})" value="${quantity}"/>
                            <button onclick="increaseValue(this,${combinedProductPrice})">+</button>
                            <span class="price">${totalPrice}</span>
                        </div>
                        <button onclick="deleteItem(this)">x</button>
                    </li>
                </ul>
            </div>
            <div>
                <span id="totalPrice">총 상품 금액 <span>${totalPrice}</span> 원</span>
            </div>
            <div>
                <button onclick="cartModify()">변경하기</button>
                <button onclick="closePopup()">취소</button>
            </div>
            `
        div.innerHTML = html;

        popupWindow.document.body.appendChild(div);

        const script = popupWindow.document.createElement('script');
        script.innerHTML =
            `
                let deleteCartId = 0;

                const popupUpdateSizePrice = (option) => {

                    const select = document.getElementById('popupSizePrice')
                    select.innerHTML = '';

                        const defaultOption = document.createElement('option');
                        defaultOption.text = "옵션 선택";
                        defaultOption.value = "";
                        select.add(defaultOption);

                        console.log(option.value)

                    if (option.value) {
                        const value = option.value.split('-');

                        value.forEach(item => {
                            const color = item.split(",")[0]
                            const size = item.split(',')[1]
                            const price = item.split(',')[2]

                            const option = document.createElement('option');
                            option.text = size;
                            option.value = color + ',' + size + ',' + price
                            select.add(option);
                        })

                    }
                }

                const popupProductAdd = () => {
                    const value = document.getElementById('popupSizePrice').value;

                    const color = value.split(',')[0]
                    const size = value.split(',')[1]
                    const price = value.split(',')[2]

                    if (!document.getElementById(\`\${color}-\${size}\`) && value) {
                        const list = document.getElementById('popupProductAddList');
                        const item = document.createElement('li');

                        const index = list.querySelectorAll('li').length;
                        const sellPrice = ${productSellPrice} + parseInt(price);

                         item.setAttribute('id', \`\${color}-\${size}\`)

                         item.innerHTML =
                         \`
                            <span>\${color},\${size}</span>
                            <div>
                                <input type="hidden" name="productId[\${index}]" value="${productId}"/>
                                <input type="hidden" name="colorSize[\${index}]" value="\${color}-\${size}"/>
                                <button onclick="decreaseValue(this,\${sellPrice})">-</button>
                                <input type="number" name="quantity[\${index}]" value="1" oninput="changeValue(this,\${sellPrice})"/>
                                <button onclick="increaseValue(this,\${sellPrice})">+</button>
                                <span class="price">\${sellPrice}원</span>
                            </div>
                            <button onclick="deleteItem(this)">x</button>
                         \`
                         list.appendChild(item)
                    }
                    updateTotalPrice()
                }

                const deleteItem = (button) => {
                    const deleteItem = button.closest('li');
                    const cartId = button.parentNode.querySelector('input[name="cartId"]');

                    console.log(cartId);
                    console.log(cartId.value);
                    console.log(deleteItem);
                    if(cartId && cartId.value){
                        deleteCartId = cartId.value;
                    }

                    if (deleteItem) {
                        deleteItem.remove()
                    }

                    updateTotalPrice()
                }

                const increaseValue = (button, sellPrice) => {
                    const inputItem = button.parentNode.querySelector('input[type="number"]');
                    const spanItem = button.parentNode.querySelector('span');

                    inputItem.value < 0 && (inputItem.value = 1)

                    inputItem
                    && (inputItem.value = parseInt(inputItem.value) + 1)
                    && (spanItem.textContent = (parseInt(sellPrice) * inputItem.value).toLocaleString() + '원');

                    updateTotalPrice()
                }

                const decreaseValue = (button, sellPrice) => {
                    const inputItem = button.parentNode.querySelector('input[type="number"]');
                    const spanItem = button.parentNode.querySelector('span');

                    inputItem.value <= 0 && (inputItem.value = 1)

                    inputItem
                    && inputItem.value > 1
                    && (inputItem.value = parseInt(inputItem.value) - 1)
                    && (spanItem.textContent = (parseInt(sellPrice) * inputItem.value).toLocaleString() + '원') ||
                    inputItem
                    && inputItem.value === 1
                    && (spanItem.textContent = (parseInt(sellPrice) * inputItem.value).toLocaleString() + '원');

                    updateTotalPrice()
                }

                const changeValue = (input, sellPrice) => {

                    const inputItem = input.parentNode.querySelector('input[type="number"]');
                    inputItem.value <= 0 && (inputItem.value = 1);

                    const spanItem = input.parentNode.querySelector('span');

                    inputItem
                    && (spanItem.textContent = (parseInt(sellPrice) * inputItem.value).toLocaleString() + '원');
                    updateTotalPrice()
                }

                const updateTotalPrice = () => {
                    const result = document.getElementsByClassName('price');

                    const priceList = Array.from(result).map(span => span.textContent.replace("원", ""))

                    const totalPrice = priceList.reduce((total, currentValue) => {
                        return parseInt(total) + parseInt(currentValue.replace(/,/g, ""));
                    }, 0)

                    const totalItem = document.getElementById('totalPrice')

                    totalItem.textContent = '총 상품 금액 : ' + totalPrice.toLocaleString() + '원';

                }

                const closePopup = () =>{
                    window.close();
                }

                const cartModify= async () =>{

                    const cartItems = [];

                    document.querySelectorAll('#popupProductAddList li').forEach((item, index) => {

                        const productId = item.querySelector(\`input[name = "productId[\${index}]"]\`).value;
                        const colorSize = item.querySelector(\`input[name="colorSize[\${index}]"]\`).value;
                        const quantity = item.querySelector(\`input[name="quantity[\${index}]"]\`).value;

                        cartItems.push({
                            productId: productId,
                            colorSize: colorSize,
                            quantity: quantity
                        });
                    });

                    const response = await fetch('/user/cart/optionmodify', {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({cartRequestDTOS: cartItems, deleteCartId})
                    });

                    if (response.status === 200) {

                        alert('상품이 변경되었습니다.')
                        closePopup()
                    }
                }

                    window.onbeforeunload = () =>{ };

            `

        popupWindow.document.body.appendChild(script);
    }


    const cartIncreaseValue = (button) => {
        const tr = button.closest('tr');

        const input = button.parentNode.querySelector("input[type='number']");
        const price = tr.querySelector('.price');
        const totalPrice = tr.querySelector('.totalPrice');
        const point = tr.querySelector('.point');
        const p = tr.querySelector('.option');

        const start = p.textContent.lastIndexOf(" ") +1;
        const last = p.textContent.lastIndexOf("개")
        const firstText = p.textContent.substring(0,start);

        (parseInt(input.value) > 1 || isNaN(parseInt(input.value)))
        && (input.value = parseInt(input.value) + 1)
        || (input.value = 1)

        totalPrice.textContent = (parseInt(price.textContent.replaceAll(",","")) * parseInt(input.value)).toLocaleString()
        point.textContent = (parseInt(parseInt(totalPrice.textContent.replaceAll(",","")) / 100)).toLocaleString()
        p.textContent = firstText + (parseInt(input.value)).toLocaleString() + "개"
    }

    const cartDecreaseValue = (button) => {

        const tr = button.closest('tr');

        const input = button.parentNode.querySelector("input[type='number']");
        const price = tr.querySelector('.price');
        const totalPrice = tr.querySelector('.totalPrice');
        const point = tr.querySelector('.point');
        const p = tr.querySelector('.option');

        const start = p.textContent.lastIndexOf(" ") +1;
        const last = p.textContent.lastIndexOf("개")
        const firstText = p.textContent.substring(0,start);

        (parseInt(input.value) > 1 || isNaN(parseInt(input.value)))
        && (input.value = parseInt(input.value) - 1)
        || (input.value = 1)

        totalPrice.textContent = (parseInt(price.textContent.replaceAll(",","")) * parseInt(input.value)).toLocaleString()
        point.textContent = (parseInt(parseInt(totalPrice.textContent.replaceAll(",","")) / 100)).toLocaleString()
        p.textContent = firstText + (parseInt(input.value)).toLocaleString() + "개"
    }

    const cartInputValueChange = (cartInput) =>{
        const tr = cartInput.closest('tr');

        const input = cartInput.parentNode.querySelector("input[type='number']");
        const price = tr.querySelector('.price');
        const totalPrice = tr.querySelector('.totalPrice');
        const point = tr.querySelector('.point');
        const p = tr.querySelector('.option');

        const start = p.textContent.lastIndexOf(" ") +1;
        const last = p.textContent.lastIndexOf("개")
        const firstText = p.textContent.substring(0,start);

        (parseInt(input.value) < 1 || isNaN(parseInt(input.value)))
        && (input.value = 1)

        totalPrice.textContent = (parseInt(price.textContent.replaceAll(",","")) * parseInt(input.value)).toLocaleString()
        point.textContent = (parseInt(parseInt(totalPrice.textContent.replaceAll(",","")) / 100)).toLocaleString()
        p.textContent = firstText + (parseInt(input.value)).toLocaleString() + "개"
    }

    const addCartItemToWishlist = async (button) => {

        const input = button.parentNode.querySelector("input[type='hidden']")

        console.log(input.value)

        const response = await fetch(`/user/wish/save`,{
            method:'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({
                productVariantId:input.value
            })
        })

        const text = await response.text();

        if (text === "SUCCESS"){
            alert('관심상품 등록 완료')
            button.disabled = true;
            button.textContent='이미등록된상품'
            button.removeAttribute('onclick') ;
        }else {
            alert('관심상품 등록 실패')
        }

    }

    const cartItemDelete =async (button) => {

        const tr = button.closest('tr');
        const inputCheckbox = tr.querySelector('input[type="checkbox"]');
        const cartId = inputCheckbox.value

        const response = await fetch(`/user/cart/delete/${cartId}`,{
            method:'delete'
        })
        const text = await response.text();

        if(text ==="SUCCESS"){
            tr.remove();
        }else {
            alert('잘못된 요청 입니다.')
        }
    }

    function sumTotalPriceContext(sumTotalPrice, totalDiv, deliveryPrice, keyword) {

        if (sumTotalPrice >= 50000) {

            totalDiv.innerHTML =
                `
                        <span>${keyword} 상품 금액 </span>
                        <span>${sumTotalPrice.toLocaleString()}</span>
                        <span> = </span>
                        <span>결제 예정금액 </span>
                        <span>${sumTotalPrice.toLocaleString()}</span>
                `
        } else {
            totalDiv.innerHTML =
                `
                        <span>${keyword} 상품 금액 </span>
                        <span>${sumTotalPrice.toLocaleString()}</span>
                        <span> + </span>
                        <span>배송료</span>
                        <span> ${deliveryPrice.toLocaleString()}</span>
                        <span> = </span>
                        <span>결제 예정금액 </span>
                        <span>${(sumTotalPrice + deliveryPrice).toLocaleString()}</span>
                    `
        }
    }

    const sumTotalPriceUpdate = () =>{
        const trList = Array.from(document.querySelectorAll('tbody tr'));
        const totalDiv = document.querySelector('#sumTotalPrice');

        const checkedCount = trList.filter((tr,index) =>{
            const checkbox = tr.querySelector("input[type='checkbox']")
            return checkbox.checked === true;
        })

        let sumTotalPrice = 0;
        const deliveryPrice = 3000;

        if(checkedCount.length === 0 || checkedCount.length === trList.length){

            trList && trList.forEach(tr =>{
                const totalPrice = tr.querySelector('.totalPrice').textContent.replaceAll(",","");
                sumTotalPrice += parseInt(totalPrice);
            })

            sumTotalPriceContext(sumTotalPrice, totalDiv, deliveryPrice, "총")

        }else {

            checkedCount.forEach(tr =>{
                const totalPrice = tr.querySelector('.totalPrice').textContent.replaceAll(",","");
                sumTotalPrice += parseInt(totalPrice);
            })

            sumTotalPriceContext(sumTotalPrice, totalDiv, deliveryPrice, "총 선택")

        }

    }

    const cartAllDelete = async () =>{
        const trList = Array.from(document.querySelectorAll('tbody tr'));

        const cartIdList = trList.map(tr =>{
            return tr.querySelector("input[type='checkbox']").value;
        })

        if(cartIdList.length === 0) return;

        if(!confirm('장바구니를 비우시겠습니까?')) return;

        const response = await fetch(`/user/cart/delete/allcart`,{
            method:'DELETE'
        })

        const text = await response.text();

        if(text === "SUCCESS"){
            trList.forEach(tr =>{
                tr.remove();
            })
            sumTotalPriceUpdate()
        }else {
            alert('잘못된 접근입니다.');
        }

    }

    const selectCartDelete = async () =>{

        const trList = Array.from(document.querySelectorAll('tbody tr'));

        const checkedList = trList.filter(tr =>{
            return tr.querySelector("input[type='checkbox']").checked;
        })

        const cartIdList = checkedList.map(tr =>{
            return tr.querySelector("input[type='checkbox']").value;
        })

        if(cartIdList.length === 0) return;

        const items = [];
        cartIdList.forEach(value =>{
            items.push({
                cartId:value
            })
        })

        const response = await fetch(`/user/cart/delete/selectcart`,{
            method:'DELETE',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({cartRequestDTOS:items})
        })

        const text = await response.text();

        if(text === "SUCCESS"){
            checkedList.forEach(tr =>{
                tr.remove()
            })
        }else {
            alert('잘못된 접근 입니다.')
        }

    }

    const selectOrder = async () =>{

        const trList = Array.from(document.querySelectorAll('tbody tr'));

        const checkedList = trList.filter(tr =>{
           return  tr.querySelector("input[type='checkbox']").checked;
        })

        if (checkedList.length === 0) return;
        const items =[];

        checkedList.forEach(tr =>{
            const text = tr.querySelector("input[type='checkbox']").value + '-' + tr.querySelector("input[type='number']").value
            items.push({
                cartIdAndQuantity:text
            })
        })

        const params = new URLSearchParams();

        items.forEach(item =>{
            params.append('cartIdAndQuantity', item.cartIdAndQuantity);
        })

        window.location.href = `/user/order?${params.toString()}`

    }

    const AllOrder = () =>{

        const trList = Array.from(document.querySelectorAll('tbody tr'));

        if (trList.length === 0) return;
        const items =[];

        trList.forEach(tr =>{
            console.log(tr)

            const text = tr.querySelector("input[type='checkbox']").value + '-' + tr.querySelector("input[type='number']").value
            console.log(text)
            items.push({
                cartIdAndQuantity:text
            })
        })

        const params = new URLSearchParams();

        items.forEach(item =>{
            params.append('cartIdAndQuantity', item.cartIdAndQuantity);
        })

        window.location.href = `/user/order?${params.toString()}`

    }

    // 주문서 작성 화면.
    const orderMemberInput = (input) =>{

        if(input.checked === true){

            const phoneNumberList = Array.from(document.getElementsByClassName('orderMemberPhoneNumber'));

            const deliveryPhoneNumberList = Array.from(document.getElementsByClassName('deliveryMemberPhoneNumber'));

            deliveryPhoneNumberList.forEach((phoneNumber, index) =>{
                phoneNumber.value = phoneNumberList[index].value;
                console.log(phoneNumber.value)
            })

            const memberName = document.getElementById('orderMemberName');

            const deliveryMemberName = document.getElementById('deliveryMemberName');
            deliveryMemberName.value = memberName.textContent;

        }

    }

    const popupNewAddress =() => {

        const zoneCodeInput = document.getElementById('zoneCode');
        const addressNameInput = document.getElementById('addressName');

        new daum.Postcode({
            oncomplete: function(data) {
                const zonecode = data.zonecode;
                const addressName = `${data.address} ${data.buildingName}(${data.autoJibunAddress ? data.autoJibunAddress : data.jibunAddress})`;

                zoneCodeInput.value = zonecode;
                addressNameInput.value = addressName;

            }
        }).open();

    }

    const popupAddressList = async () =>{

        const response = await fetch('/user/addresses',{
            method:'GET'
        })

        const data = await response.json();

        console.log(data)
        console.log(data.orderWriteDeliveryResponseDTOS)

        popupWindow = window.open('','_blank','width=600,height=500');

        const checkPopupClosed = setInterval(() => {
            if (popupWindow.closed) {
                clearInterval(checkPopupClosed);
                const inputValue = localStorage.getItem('selectedAddress');
                getAddressIdFetch(inputValue)
                localStorage.removeItem('selectedAddress');
            }
        }, 1000);


            const div = document.createElement('div');

            let html = "";
            data.orderWriteDeliveryResponseDTOS.forEach(item =>{
                html +=
                    `
                    <div onclick="selectAddress(this)">
                        <div>
                            <div>
                                <input type="hidden" value="${item.addressId}"/>
                                <span>${item.deliveryMemberName}</span>
                            </div>
                            <div>
                                <span>연락처 1 <span>${item.phoneNumber1.join("-").trim().length === 2 ? "" : item.phoneNumber1.join("-").trim()}</span></span>
                                <span>연락처 2 <span>${item.phoneNumber2.join("-").trim().length === 2 ? "" : item.phoneNumber1.join("-").trim()}</span></span>
                            </div>
                        </div>
                        <div>
                            <span>우편번호 <span>${item.zipcode}</span></span>
                            <span>주소 <span>${item.addressName} ${item.addressNameDetail}</span></span>
                        </div>
                    </div>
                `
            })

            div.innerHTML = html;

            popupWindow.document.body.appendChild(div);

            const script = popupWindow.document.createElement('script')
            script.innerHTML =
                `
                    const selectAddress = (div) =>{

                        const input = div.querySelector('input[type="hidden"]');
                         localStorage.setItem( 'selectedAddress',input.value);
                        closePopup();
                    }

                     const closePopup = () =>{
                        window.close();
                    }

                    window.onbeforeunload = () =>{ };
                `
            popupWindow.document.body.appendChild(script)




    }

    const getAddressIdFetch = async (value) =>{

        const response = await fetch(`/user/addresses/address/${value}`,{
            method:'GET'
        })

        const data = await response.json();
        console.log(data)

        addressFetch(data);

        deliveryValues(data);

        const input = document.getElementById('recentlyAddress');
        input.checked = true;

    }

    function addressFetch(data) {
        if (document.getElementById('addressId') !== null) {
            document.getElementById('addressId').remove();
        }

        const addressIdInput = document.createElement('input')
        addressIdInput.setAttribute('id', 'addressId')
        addressIdInput.type = 'hidden'
        addressIdInput.value = data.addressId;
        const items = document.querySelectorAll('input[name="addressType"]');
        items.item(items.length - 1).appendChild(addressIdInput)
    }

    const getAddressFetch = async (inputValue) =>{

        const param = new URLSearchParams();
        param.append('status', inputValue)

        const response = await fetch(`/user/addresses/address?${param}`,{
            method:'GET'
        })

        const data = await response.json();
        console.log(data)

        addressFetch(data);

        deliveryValues(data);

    }

    const newAddress = () =>{

        if(document.getElementById('addressId') !== null){
            document.getElementById('addressId').remove();
        }

        deliveryValues();

    }

    const deliveryValues = (data = null) =>{
        const deliveryMemberName = document.getElementById('deliveryMemberName');
        deliveryMemberName.value = data !== null ? data.deliveryMemberName : "";

        const deliveryMemberPhoneNumber1 = Array.from(document.getElementsByClassName('deliveryMemberPhoneNumber1'));
        deliveryMemberPhoneNumber1.forEach((input,index) =>{
            input.value = data !== null ? data.phoneNumber1[index] : "";
        })

        const deliveryMemberPhoneNumber2 = Array.from(document.getElementsByClassName('deliveryMemberPhoneNumber2'));
        deliveryMemberPhoneNumber2.forEach((input,index) =>{
            input.value = data !== null ? data.phoneNumber2[index] : "";
        })

        const zoneCode = document.getElementById('zoneCode');
        zoneCode.value = data !== null ? data.zipcode : "";

        const addressName = document.getElementById('addressName');
        addressName.value = data !== null ? data.addressName : "";

        const addressNameDetail = document.getElementById('addressNameDetail');
        addressNameDetail.value = data !== null ? data.addressNameDetail : ""

        const orderMessage = document.querySelector('textarea');
        orderMessage.value = data !== null ? data.orderMessage : "";

        const bankTransferName = document.getElementById('bankTransferName');
        bankTransferName.value = data !== null ? data.bankTransferName : "";
    }

    const postOrderFetch = async () =>{

        let valid = 0;

        const cartIds = Array.from(document.querySelectorAll('tbody tr input[type="hidden"]'))
            .map(input => input.value);

        let result = document.getElementById('addressId');
        const addressId = result?.value !== undefined ? result.value : 0;

        result = Array.from(document.querySelectorAll('input[name="addressType"]'));
        const deliveryPlaceStatus = result.find(input => input.checked) !== undefined ?
            result.find(input => input.checked).value : result.find(input => {
                if(input.value === "NEW_ADDRESS"){
                    input.checked = true
                    return input;
                }
            }).value;

        const deliveryMemberName = document.getElementById('deliveryMemberName').value;
        if (deliveryMemberName.trim().length === 0){
            validationCheck(document.getElementById('deliveryMemberName'),'배송받을 이름을 입력해주세요.')
            valid++;
        }else {
            validationRemove(document.getElementById('deliveryMemberName'))
        }


        result = Array.from(document.getElementsByClassName('deliveryMemberPhoneNumber1'))
            .map(input => input.value).join("").trim();
        const phoneNumber1 = result ? result : 0;

        result = Array.from(document.getElementsByClassName('deliveryMemberPhoneNumber2'))
            .map(input => input.value).join("").trim();
        const phoneNumber2 = result ? result : 0;

        if(phoneNumber1 === 0 && phoneNumber2 === 0){
            validationCheck(document.getElementsByClassName('deliveryMemberPhoneNumber2').item(0), '하나 이상의 연락처가 입력되어 있어야 합니다.')
            valid++;
        }else {
            validationRemove(document.getElementsByClassName('deliveryMemberPhoneNumber2').item(0))

        }

        if(String(phoneNumber1).trim().length <8 && String(phoneNumber2).trim().length <8){
            validationCheck(document.getElementsByClassName('deliveryMemberPhoneNumber2').item(0), '연락처를 다시한번 확인해주세요.')
            valid++;
        }else {
            validationRemove(document.getElementsByClassName('deliveryMemberPhoneNumber2').item(0))
        }

        const zipcode = document.getElementById('zoneCode').value;

        const addressName = document.getElementById('addressName').value;

        const addressNameDetail = document.getElementById('addressNameDetail').value;

        if (zipcode.trim().length === 0 || addressName.trim().length === 0){
            validationCheck(document.getElementById('addressNameDetail'), '주소를 다시 확인해주세요.')
            valid ++;
        }else{
            validationRemove(document.getElementById('addressNameDetail'))
        }

        const orderMessage = document.querySelector('textarea').value;

        const bankTransferName = document.getElementById('bankTransferName').value;

        const refundOption = Array.from(document.querySelectorAll('input[name="refun"]')).find(input => input.checked)?.value;
        if(refundOption === undefined){
            validationCheck(document.querySelectorAll('input[name="refun"]').item(0), '환불수단을 선택해주세요.')
            valid++
        }else {
            validationRemove(document.querySelectorAll('input[name="refun"]').item(0))
        }

        const refundMemberName = document.getElementById('refundMemberName').value;

        const refundBankName = document.getElementById('refundBankName').value;

        const refundBankAccount = document.getElementById('refundBankAccount').value;

        const paymentOption = Array.from(document.querySelectorAll('input[name="payment"]')).find(input => input.checked)?.value;

        if(paymentOption === undefined){
            validationCheck(document.querySelectorAll('input[name="payment"]').item(0), '결제 방법을 선택해 주세요.')
            valid++;
        }else {
            validationRemove(document.querySelectorAll('input[name="payment"]').item(0))
        }

        const paymentCheck = document.getElementById('paymentCheck')?.checked
        if(paymentCheck === false){
            validationCheck(document.getElementById('paymentCheck'), '체크는 필수 입니다.')
            valid++;
        }else {
            validationRemove(document.getElementById('paymentCheck'))
        }

        if(valid !== 0){
            return;
        }

        const item ={
            cartIds,
            addressId,
            deliveryPlaceStatus,
            deliveryMemberName,
            phoneNumber1,
            phoneNumber2,
            zipcode,
            addressName,
            addressNameDetail,
            orderMessage,
            bankTransferName,
            paymentOption,
            refundOption,
            refundMemberName,
            refundBankName,
            refundBankAccount
        }

        const response = await fetch('/api/user/order/save',{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify(item)
        })

        console.log(response)

        if (response.ok){
            const data = await response.json();
            console.log(data)
            window.open(data.next_redirect_pc_url,'_blank', 'width=600px,height=500px')

        }




    }

    const validationCheck = (getElements, errorMessage) => {
        if(getElements.parentNode.getElementsByClassName('errorSpan').length !== 0){
            return;
        }

        const span = document.createElement('span')
        span.className = 'errorSpan'
        span.textContent = errorMessage

        getElements.parentNode.appendChild(span);
    }

    const validationRemove = (getElements) =>{
        getElements.parentNode.querySelectorAll('.errorSpan').forEach(span => span.remove())
    }

    // 마이페이지
    const getOrderDetail = (div) =>{
        const inputValue = div.querySelector('input[type="hidden"]').value;
        window.location.href = `/user/order/detail/${inputValue}`
    }

    // 주문 상세내역
    const orderCancel = async () =>{
        const currentUrl = window.location.href;
        const orderId = document.getElementById('orderId').textContent;

        const response = await fetch(`/api/kakaopay/refund?orderId=${orderId}`,{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            }
        })

        if (response.ok){
            const data = await response.text();
            alert(data);
            window.location.href = currentUrl;
        }

    }

    const reviewWriteModal = (button)=>{
        const div = button.closest('div')

        const modal = document.createElement('div');
        modal.setAttribute('id', 'modal')
        modal.onclick = () => modalClose(event);

        modal.style.display = "block";

        modal.innerHTML = `
            <div class="modalContent">
                <div>
                    <span> 평점 </span>
                    <div class="starRating">
                        <input type="radio" id="5Star" name="rating" value="5">
                        <label for="5Star" >★</label>
                        <input type="radio" id="4Star" name="rating" value="4">
                        <label for="4Star" >★</label>
                        <input type="radio" id="3Star" name="rating" value="3">
                        <label for="3Star" >★</label>
                        <input type="radio" id="2Star" name="rating" value="2">
                        <label for="2Star" >★</label>
                        <input type="radio" id="1Star" name="rating" value="1">
                        <label for="1Star" >★</label>
                    </div>
                </div>
                <div>
                    <textarea ></textarea>
                </div>
                <div>
                    <button onclick="reviewWrite(this)"> 등록</button>
                    <button onclick="buttonModalClose()"> 취소</button>
                </div>
            </div>
`

        div.insertAdjacentElement('afterend', modal)
    }

    const reviewWrite = async (button) =>{
        let valid = 0;

        const modal = document.getElementById('modal');

        const parentDiv = modal.parentNode

        const orderItemId = parentDiv.querySelector("input[type='hidden']").value;

        const inputGrade = Array.from(modal.querySelectorAll("input[name='rating']")).find(input => input.checked);

        if(inputGrade?.value === undefined){
            validationCheck(modal.querySelectorAll("input[name='rating']").item(0),'평점을 선택해주세요.')
            valid ++;
        }else {
            validationRemove(modal.querySelectorAll("input[name='rating']").item(0))
        }

        const text = modal.querySelector('textarea');
        if(!text?.value.trim()){
            validationCheck(modal.querySelector('textarea'),'댓글 입력은 필수입니다.')
            valid ++;
        }else {
            validationRemove(modal.querySelector('textarea'))
        }

        const item ={
            orderItemId,
            grade:inputGrade?.value,
            content:text?.value
        }

        console.log(item)
        if (valid !== 0){
            return;
        }

        const response = await fetch(`/api/user/reviews/save`,{
            method:"POST",
            headers:{
                "Content-type":"application/json"
            },
            body:JSON.stringify(item)
        })

        const resultText = await response.text();
        if(resultText === "SUCCESS"){
            buttonModalClose();
            const reviewButton = parentDiv.querySelector('button');
            reviewButton.closest('div').remove();
            alert("리뷰가 저장되었습니다.")
        }else {
            alert(resultText)
        }


    }




</script>
</html>